@*pack index*@
@model List<Bestrade.Models.PackPurchaseView>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Packs";
}
<div class="row" id="all">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <div class="well">
            <table class="table">
                <tr>
                    <th>Purchase</th>
                    <th>Date</th>
                    <th>Supplier</th>
                    <th>SKU</th>
                    <th>Cost</th>
                    <th>QTY</th>
                    <th>Remark</th>
                </tr>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.purchase</td>
                        <td>@a.date.ToShortDateString()</td>
                        <td>@a.supplier</td>
                        <td>@a.sku</td>
                        <td>@a.unit_cost</td>
                        <td>@a.qty</td>
                        @if (a.remark.Length != 0)
                        {
                            <td>@Html.ActionLink("Click to View", "RemarkView", "Pack", new { purchase = a.purchase, sku = a.sku }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (a.sku.Length != 0)
                        {
                            <td>@Html.ActionLink("Update", "UpdateView", "Pack", new { purchase = a.purchase, sku = a.sku, return_view = a.purchase }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (a.sku.Length != 0)
                        {
                            <td>
                                @using (Html.BeginForm("DeletePack", "Pack", FormMethod.Post))
                                {
                                    @Html.Hidden("purchase", a.purchase, null)
                                    @Html.Hidden("sku", a.sku, null)
                                    @Html.Hidden("return_url")
                                    <a style="cursor: pointer">Delete</a>
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>