@*pack index*@
@model List<Bestrade.Models.PackPurchaseView>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Packs";
}
<div class="row" id="all">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <div class="well">
            <table id="purchase" class="table">
                <tr>
                    <th>Purchase</th>
                    <th>Date</th>
                    <th>Supplier</th>
                    <th>SKU</th>
                    <th>Cost</th>
                    <th>QTY</th>
                    <th>Remark</th>
                </tr>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.purchase_id</td>
                        <td>@a.purchase_date.ToShortDateString()</td>
                        <td>@a.supplier_name</td>
                        <td>@a.sku</td>
                        <td>@a.unit_cost</td>
                        <td>@a.qty</td>
                        @if (a.pack_remark.Length != 0)
                        {
                            <td>@Html.ActionLink("Click to View", "RemarkView", "Pack", new { purchase_id = a.purchase_id, sku = a.sku }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (a.sku.Length != 0)
                        {
                            <td>@Html.ActionLink("Update", "UpdateView", "Pack", new { purchase_id = a.purchase_id, sku = a.sku, return_view = "Index" }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
