@*pack index*@
@model List<Bestrade.Models.Pack>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Packs";
}
<div class="row" id="all">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="well">
            <table id="table" class="table">
                <tr>
                    <th>Purchase Id</th>
                    <th>SKU</th>
                    <th>unit cost</th>
                    <th>P QTY</th>
                    <th>P Remark</th>
                    @*<th>S ID</th>
                    <th>S QTY</th>
                    <th>S Remark</th>*@
                </tr>
                @foreach (var a in Model)
                {
                    <tr>
                        <td id="@a.purchase_id">@a.purchase_id</td>
                        <td>@a.sku</td>
                        <td>@a.unit_cost</td>
                        <td>@a.qty</td>
                        @if (a.pack_remark != null && a.pack_remark.Length != 0)
                        {
                            <td>@Html.ActionLink("Click to View", "Pack_Remark", "Remark", new { purchase_id = a.purchase_id, sku = a.sku }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td><a>Select</a></td>
                        <td hidden>@a.purchase_id,@a.sku</td>
                        @*<td>@a.shipment_id</td>
                        <td>@a.shipment_qty</td>
                        @if (a.shipment_remark != null && a.shipment_remark.Length != 0)
                        {
                            <td>@Html.ActionLink("Click to View", "Shipment_Remark", "Remark", new { purchase_id = a.purchase_id, sku = a.sku, shipment_id = a.shipment_id }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }*@
                    </tr>
                }
            </table>
        </div>
    </div>
    @*<script>
        document.write($('#1').text());
    </script>*@
    <div class="col-md-3">
        <div class="well">
            @Html.Partial("~/Views/Pack/Shipments.cshtml", ViewData["shipments"])
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <table class="table">
                <tr>
                    <td>Purchase ID</td>
                    <td><input name="purchase_id" type="text" class="form-control" style="width:180px" readonly="readonly"/></td>
                </tr>
                <tr>
                    <td>SKU</td>
                    <td><input name="sku" type="text" class="form-control" style="width:180px" readonly="readonly"/></td>
                </tr>
                <tr>
                    <td>Shipment ID</td>
                    <td><input name="shipment_id" type="text" class="form-control" style="width:180px" readonly="readonly"/></td>
                </tr>
                <tr>
                    <td>Shipment Qty</td>
                    <td><input name="qty" type="text" class="form-control" style="width:50px" /></td>
                </tr>
            </table>
            
        </div>
    </div>
</div>
<script>
    $('#table').find('a').click(function () {
        var value = $(this).parent('td').next().text().split(',');
        $('input[name=purchase_id]').prop('readonly', false);
        $('input[name=sku]').prop('readonly', false);
        $('input[name=purchase_id]').val(value[0]);
        $('input[name=sku]').val(value[1]);
        $('input[name=purchase_id]').prop('readonly', true);
        $('input[name=sku]').prop('readonly', true);
    });

</script>
