@model List<Bestrade.Models.Pack>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ship Pack to FBA";
}
<div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <div class="well">
                <table class="table">
                    <tr>
                        <th>Purchase</th>
                        <th>SKU</th>
                        <th>Cost</th>
                        <th>P QTY</th>
                        <th>P Remark</th>
                        <th>S ID</th>
                        <th>S QTY</th>
                        <th>S Remark</th>
                    </tr>
                    @foreach (var a in Model)
                    {
                        <tr>
                            <td>@a.purchase</td>
                            <td>@a.sku</td>
                            <td>@a.unit_cost</td>
                            <td>@a.qty</td>
                            @if (a.remark != null && a.remark.Length != 0)
                            {
                                <td>@Html.ActionLink("Click to View", "RemarkView", "Pack", new { purchase = a.purchase, sku = a.sku }, null)</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @*<td>@a.shipment</td>
                            <td>@a.qty</td>
                            @if (a.remark != null && a.remark.Length != 0)
                            {
                                <td>@Html.ActionLink("Click to View", "RemarkView", "Shipment", new { purchase = a.purchase, sku = a.sku, shipment = a.shipment }, null)</td>
                            }
                            else
                            {
                                <td></td>
                            }*@
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                @using (Html.BeginForm("AddPackShipment", "Pack", FormMethod.Post))
                {
                    <table class="table">
                        <tr>
                            <td>Purchase ID</td>
                            <td>@Html.TextBox("purchase", "", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>SKU</td>
                            <td>@Html.TextBox("sku", "", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Shipment ID</td>
                            <td>@Html.TextBox("shipment", ViewData["shipment"], new { @readonly = "true", @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Shipment QTY</td>
                            <td>@Html.TextBox("qty", "", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Shipment Reamrk</td>
                            <td>@Html.TextBox("remark", "", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="提交" /></td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
@*    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            @Ajax.ActionLink("Display All Packs", "Index", "Pack", new { }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "all", InsertionMode = InsertionMode.Replace }, new { @id = "show" })
            <a id="hide" style="cursor: pointer; margin-left: 40px">Hide All Packs</a>
        </div>
    </div>
    <div id="all"></div>*@
</div>
@*<script>
    $('#hide').click(function () {
        $('#all').hide();
    });
    $('#show').click(function () {
        $('#all').show();
    });
</script>*@
