@{
    ViewBag.Title = "Shipments";
}
@model List<Bestrade.Models.Shipment>
<div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>company</th>
            <th>cost</th>
        </tr>
        @foreach (var a in Model)
        {
            <tr>
                <td>@Html.ActionLink(a.shipment_id, "PackFromShipment", "Pack", new { shipment_id = a.shipment_id }, null)</td>
                <td>@a.shipping_date.ToShortDateString()</td>
                <td>@a.shipping_company</td>
                <td>@a.shippment_cost</td>
                <td><a>Select</a></td>
                <td><a>Complete</a></td>
                @*<td>@Html.ActionLink("Update", "UpdateView", "Shipment", new { shipment_id = a.shipment_id }, null)</td>
                <td>
                    <form action="Shipment/DeleteShipment" method="post" id="@a.shipment_id">
                        <input type="hidden" name="shipment_id" value="@a.shipment_id" />
                        <a style="cursor: pointer" onclick="del('@a.shipment_id')">Delete</a>
                    </form>
                </td>*@
            </tr>
        }
    </table>
</div>
