@model Bestrade.Models.Pack

@{
    ViewBag.Title = "Update Pack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="well">
            @using (Html.BeginForm("UpdatePack", "Pack", FormMethod.Post))
            {
                @Html.Hidden("return_view", ViewData["return_view"])
                <table class="table">
                    <tr>
                        <td>Purchase</td>
                        <td>@Html.TextBox("purchase", Model.purchase, new { @readonly = true, @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>SKU</td>
                        <td>@Html.TextBox("sku", Model.sku, new { @readonly = true, @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>Cost</td>
                        <td>@Html.TextBox("unit_cost", Model.unit_cost, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>QTY</td>
                        <td>@Html.TextBox("qty", Model.qty, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>Remark</td>
                        <td>@Html.TextArea("remark", Model.remark, new { @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="提交" /></td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
