@{
    Layout = "~/Views/Shared/_Layout.cshtml";
        
}
@model List<Bestrade.Models.Shipment>
@{
    ViewBag.Title = "Shipments";
}
<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="well">
                <table class="table">
                    <tr>
                        <th>Shipment</th>
                        <th>Date</th>
                        <th>Company</th>
                        <th>Cost</th>
                        <th>Complete</th>
                        <th>Remark</th>
                    </tr>
                    @foreach (var a in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(a.shipment, "PackFromShipment", "Pack", new { shipment = a.shipment }, null)</td>
                            <td>@a.date.ToShortDateString()</td>
                            <td>@a.company</td>
                            <td>@a.cost</td>
                            @if (a.complete == true)
                            {
                                <td>Yes</td>
                            }
                            else
                            {
                                <td>No</td>
                            }
                            @if (a.remark.Length != 0)
                            {
                                <td>@Html.ActionLink("Click to View", "RemarkView", "Shipment", new { shipment = a.shipment }, null)</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@Html.ActionLink("Update", "UpdateView", "Shipment", new { shipment = a.shipment }, null)</td>
                            <td>
                                <form action="Shipment/DeleteShipment" method="post">
                                    <input type="hidden" name="shipment" value="@a.shipment"/>
                                    <a style="cursor: pointer">Delete</a>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-md-2">
            <div class="well">
                @Html.Partial("~/Views/Shipment/Companies.cshtml", ViewData["companies"])
            </div>
        </div>
        <div class="col-md-2">
            <div class="well">
                @using (Html.BeginForm("AddCompany", "Shipment", FormMethod.Post))
                {
                    <table class="table">
                        <tr>
                            <th>New Company</th>
                        </tr>
                        <tr>
                            <td>@Html.TextBox("company", "", new { @style = "width:100px", @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="提交" /></td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
