@{
    ViewBag.Title = "RemarkView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Bestrade.Models.Shipment
<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div class="well">
                <table class="table" style="width: 300px">
                    <tr>
                        <td>Shipment</td>
                        <td>@Model.shipment</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>@Model.date.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Company</td>
                        <td>@Model.company</td>
                    </tr>
                    <tr>
                        <td>Cost</td>
                        <td>@Model.cost</td>
                    </tr>
                </table>
                <div>
                    Remark
                    <br />
                    <pre style="white-space: normal">
                            @Model.remark
                         </pre>
                </div>
            </div>
        </div>
    </div>
</div>
