@model List<Bestrade.Models.Shipment>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="well">
                <table class="table">
                    <tr>
                        <th>Shipment</th>
                        <th>Date</th>
                        <th>Company</th>
                        <th>Cost</th>
                        <th>Remark</th>
                    </tr>
                    @foreach (var a in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(a.shipment, "PackFromShipment", "Pack", new { shipment = a.shipment }, null)</td>
                            <td>@a.date.ToShortDateString()</td>
                            <td>@a.company</td>
                            <td>@a.cost</td>
                            @if (a.remark.Length != 0)
                            {
                                <td>@Html.ActionLink("Click to View", "RemarkView", "Shipment", new { shipment = a.shipment }, null)</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@Html.ActionLink("Update", "UpdateView", "Shipment", new { shipment = a.shipment }, null)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                @using (Html.BeginForm("AddShipment", "Shipment", FormMethod.Post))
                {
                    <table class="table">
                        <tr>
                            <td>Shipment</td>
                            <td>@Html.TextBox("shipment", "", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>@Html.TextBox("date", "", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Company</td>
                            <td>@Html.TextBox("company", ViewData["company"], new { @readonly = "true", @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Cost</td>
                            <td>@Html.TextBox("cost", "", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Remark</td>
                            <td>@Html.TextArea("remark", "", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="提交" /></td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
