@model List<Bestrade.Models.PackShipmentView>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Packs";
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <a href="~/packshipment/overview"><h2>Pack Shipment Overview</h2></a>
    </div>
</div>
<div class="row" id="all">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <div class="well">
            <table id="purchase" class="table">
                <tr>
                    <th>Purchase</th>
                    <th>SKU</th>
                    <th>PQ</th>
                    <th>SQ</th>
                    <th>Remark</th>
                </tr>
                @foreach (var a in Model)
                {
                    <tr>
                        <td id="@a.purchase_id">@a.purchase_id</td>
                        <td>@a.sku</td>
                        <td>@a.p_qty</td>
                        <td>@a.s_qty</td>
                        @if (a.pack_remark.Length != 0)
                        {
                            <td>@Html.ActionLink("Click to View", "RemarkView", "Pack", new { purchase_id = a.purchase_id, sku = a.sku }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td><a style="cursor: pointer">Select</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            @Html.Partial("~/Views/PackShipment/Shipments.cshtml", ViewData["shipments"])
        </div>
    </div>
    <div class="col-md-3">
        <div class="well">
            <form action="PackShipment/AddPackShipment" method="post">
                <table class="table">
                    <tr>
                        <td>Purchase ID</td>
                        <td>
                            <input name="purchase_id" type="text" class="form-control" style="width: 180px" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>SKU</td>
                        <td>
                            <input name="sku" type="text" class="form-control" style="width: 180px" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Shipment ID</td>
                        <td>
                            <input name="shipment_id" type="text" class="form-control" style="width: 180px" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Shipment Qty</td>
                        <td>
                            <input name="qty" type="text" class="form-control" style="width: 50px" />
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<script>
    $('#purchase').find('a').click(function () {
        var purchase_id = $(this).parent('td').prev().prev().prev().prev().prev().text();
        var sku = $(this).parent('td').prev().prev().prev().prev().text();
        $('input[name=purchase_id]').prop('readonly', false);
        $('input[name=sku]').prop('readonly', false);
        $('input[name=purchase_id]').val(purchase_id);
        $('input[name=sku]').val(sku);
        $('input[name=purchase_id]').prop('readonly', true);
        $('input[name=sku]').prop('readonly', true);
    });
    $('#shipment').find('a').click(function () {
        var shipment_id = $(this).parent('td').prev().prev().prev().prev().text();
        $('input[name=shipment_id]').prop('readonly', false);
        $('input[name=shipment_id]').val(shipment_id);
        $('input[name=shipment_id]').prop('readonly', true);
    });
</script>