@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Bestrade.Models.PackShipment>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <div class="well">
            <table class="table">
                <tr>
                    <th>Purchase</th>
                    <th>SKU</th>
                    <th>Shipment</th>
                    <th>QTY</th>
                </tr>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.purchase</td>
                        <td>@a.sku</td>
                        <td>@a.shipment</td>
                        <td>@a.qty</td>
                        <td>@Html.ActionLink("Update", "UpdateView", "PackShipment", new { purchase = a.purchase, sku = a.sku, shipment = a.shipment }, null)</td>
                        <td>
                            @using (Html.BeginForm("DeletePackShipment", "PackShipment", FormMethod.Post))
                            {
                                @Html.Hidden("purchase", a.purchase, null)
                                @Html.Hidden("sku", a.sku, null)
                                @Html.Hidden("shipment", a.shipment, null)
                                <a style="cursor: pointer">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
