@{
    ViewBag.Title = "Shipments";
}
@model List<Bestrade.Models.Shipment>
<div>
    <table id="shipment" class="table">
        <tr>
            <th>Shipment</th>
            <th>Date</th>
            <th>Company</th>
            <th>Cost</th>
        </tr>
        @foreach (var a in Model)
        {
            <tr>
                <td>@Html.ActionLink(a.shipment, "PackFromShipment", "Pack", new { shipment = a.shipment }, null)</td>
                <td>@a.date.ToShortDateString()</td>
                <td>@a.company</td>
                <td>@a.cost</td>
                <td><a style="cursor: pointer">Select</a></td>
                <td>
                    <form action="PackShipment/CompleteShipment" method="post" id="@a.shipment">
                        <input type="hidden" name="shipment" value="@a.shipment" />
                        <input type="submit" value="complete" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>