@model List<Bestrade.Models.Purchase>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Purchase Overview";
}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="well">
            <table class="table">
                <tr>
                    <th>Purchase</th>
                    <th>Date</th>
                    <th>Supplier</th>
                </tr>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(a.purchase, "PackFromPurchase", "Pack", new { purchase = a.purchase }, null)</td>
                        <td>@a.date.ToString("d")</td>
                        <td>@a.supplier</td>
                        <td>@Html.ActionLink("Update", "UpdateView", "Purchase", new { purchase = a.purchase, return_view = "" }, null)</td>
                        <td>
                            @using (Html.BeginForm("DeletePurchase", "Purchase", FormMethod.Post))
                            {
                                
                                @Html.Hidden("purchase", a.purchase, null)
                                @Html.Hidden("return_url")
                                <a style="cursor: pointer">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-md-2">
        <div class="well">
            @Html.Partial("~/Views/Purchase/Suppliers.cshtml", ViewData["suppliers"])
        </div>
    </div>
    <div class="col-md-1">
        <div class="well">
            <table>
                @foreach (var a in (List<Bestrade.Models.Supplier>)ViewData["suppliers"])
                {
                    <tr>
                        <td>@a.supplier</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="col-md-2">
        <div class="well">
            @using (Html.BeginForm("AddSupplier", "Purchase", FormMethod.Post))
            {
                <table class="table">
                    <tr>
                        <th>New Supplier</th>
                    </tr>
                    <tr>
                        <td>@Html.TextBox("supplier", "", new { @style = "width:100px", @class = "form-control" })</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="提交" /></td>
                    </tr>
                </table>
            }
        </div>
    </div>
</div>