@model List<Bestrade.Models.Purchase>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewData["supplier"];
}
<div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div class="well">
                <table class="table">
                    <tr>
                        <th>Purchase</th>
                        <th>Date</th>
                    </tr>
                    @foreach (var a in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(a.purchase, "PackFromPurchase", "Pack", new { purchase = a.purchase }, null)</td>
                            <td>@a.date.ToString("d")</td>
                            <td>@Html.ActionLink("Update", "UpdateView", "Purchase", new { purchase = a.purchase, return_view = a.supplier }, null)</td>
                            <td>
                                @using (Html.BeginForm("DeletePurchase", "Purchase", FormMethod.Post))
                                {
                                    @Html.Hidden("purchase", a.purchase, null)
                                    @Html.Hidden("return_url")
                                    <a style="cursor: pointer" )">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                @using (Html.BeginForm("AddPurchase", "Purchase", FormMethod.Post))
                {
                    <table class="table">
                        <tr>
                            <td>Purchase ID</td>
                            <td>@Html.TextBox("purchase", "", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>@Html.TextBox("date", "", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Supplier Name</td>
                            <td>@Html.TextBox("supplier", ViewData["supplier"], new { @readonly = "true", @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" value="提交" /></td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</div>