@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Bestrade.Models.Overview>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="well">
            <table class="table">
                <tr>
                    <th>Purchase</th>
                    <th>SKU</th>
                    <th>Date</th>
                    <th>Supplier</th>
                    <th>Cost</th>
                    <th>QTY</th>
                    <th>Remark</th>
                </tr>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.purchase</td>
                        <td>@a.sku</td>
                        <td>@a.p_date.ToShortDateString()</td>
                        <td>@a.supplier</td>
                        <td>@a.unit_cost</td>
                        <td>@a.p_qty</td>
                        @if (a.p_remark.Length != 0)
                        {
                            <td>@Html.ActionLink("Click to View", "RemarkView", "Pack", new { purchase = a.purchase, sku = a.sku }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <div class="well">
            <table class="table">
                <tr>
                    <th>Shipment</th>
                    <th>Date</th>
                    <th>Company</th>
                    <th>QTY</th>
                    <th>Remark</th>
                    <th>Complete</th>
                </tr>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.shipment</td>
                        <td>@a.s_date.ToShortDateString()</td>
                        <td>@a.company</td>
                        <td>@a.s_qty</td>
                        @if (a.s_remark.Length != 0)
                        {
                            <td>@Html.ActionLink("Click to View", "RemarkView", "Shipment", new { shipment = a.shipment }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (a.complete == true)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
