@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Bestrade.Models.Overview>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="well">
            <table class="table">
                <tr>
                    <th>P ID</th>
                    <th>SKU</th>
                    <th>P Date</th>
                    <th>Supplier</th>
                    <th>P Cost</th>
                    <th>PQ</th>
                    <th>P Remark</th>
                    <th>S ID</th>
                    <th>S Date</th>
                    <th>Company</th>
                    <th>SQ</th>
                    <th>S Remark</th>
                    <th>Complete</th>
                </tr>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.purchase_id</td>
                        <td>@a.sku</td>
                        <td>@a.purchase_date.ToShortDateString()</td>
                        <td>@a.supplier_name</td>
                        <td>@a.unit_cost</td>
                        <td>@a.pq</td>
                        @if (a.pack_remark.Length != 0)
                        {
                            <td>@Html.ActionLink("Click to View", "RemarkView", "Pack", new { purchase_id = a.purchase_id, sku = a.sku }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@a.shipment_id</td>
                        <td>@a.shipping_date.ToShortDateString()</td>
                        <td>@a.shipping_company</td>
                        <td>@a.sq</td>
                        @if (a.shipment_remark.Length != 0)
                        {
                            <td>@Html.ActionLink("Click to View", "RemarkView", "Shipment", new { shipment_id = a.shipment_id }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        @if (a.complete == true)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
